/* Archivo: LandingPage.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.hero-section {
    background: url('/images/hero-bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text .brand-name {
    color: #f39c12; /* Color dorado para destacar la marca */
}

.hero-text .tagline {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e67e22;
}

.services-section {
    width: 100%;
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.services-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.services {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.service {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service img {
    max-width: 300px;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service p {
    font-size: 1rem;
    color: #555;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer p {
    font-size: 1rem;
}


@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%;
        margin-bottom: 30px;
    }
}
